@page
@model AnimalModel
@{
    ViewData["Title"] = "Animals (" + Model.Variant +"s)";
}
<h1>@ViewData["Title"]</h1>

<p>Loading from cache or repository where there are @Model.Variant variants...</p>

<p><b>Cache Response Type:</b> @Model.CacheResponse.ResponseType</p>
<p><b>Cache Response Time:</b> @Model.CacheResponse.ResponseTime</p>

@foreach (var animal in Model.CacheResponse.Value)
{
    <p><div>@animal.Id, @animal.Variant</div></p>
}